<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GOT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77A3E4C01E4AEF8B001516FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77A3E4D61E4AEF8B001516FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77A3E4E11E4AEF8B001516FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
